<!DOCTYPE html>
<html>
<head>
  <title>NStock</title>
  <%= stylesheet_link_tag    "n_stock/application", media: "all" %>
  <%= javascript_include_tag "n_stock/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h2>NStock</h2>

<%= yield %>

</body>
</html>
